.form__section {
  width: 100%;
  display: flex;
  background-image: url("../../asset/img/sec-bg.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: right;
  
  padding: 2rem 0;
  color: #ecdc0a;
}
.form_sec_1 {
  width: 40%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form_head {
  font-size: 2rem;
  font-weight: 600;
}
.form_img {
  width: 60%;
}
.form_sec_2 {
  width: 60%;
  display: flex;
  align-items: centre;
  justify-content: centre;
}
form {
  background-color: rgb(0,0,0,0.8);
  backdrop-filter: blur(10%);
  width: 95%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 5px -2px;
  padding: 1rem;
  border-radius: 1rem;
  color:#ecdc0a ;
}
.f_sec_1 {
  width: 45%;
}
.f_sec_2 {
  width: 45%;
}
